<html>
<head>
    <title>tesseract_micr admin toolbox</title>
    <link rel="STYLESHEET" href="../static/main.css" type="text/css">
</head>

<body>
    <h3>tesseract_micr admin toolbox</h3>
    <br>

    <table>
        <tr>
            <td>System info:</td>
            <td><a href="info">/info</a></td>
        </tr>
    </table>
</body>
</html>