<html>
<head>
    <title>tesseract_micr system info</title>
    <link rel="STYLESHEET" href="../static/main.css" type="text/css">
</head>

<body>
    <h3>tesseract_micr system info</h3>
    <br>

    <table>
        {% for k,v in sysinfo.items() %}
        <tr>
            <td><b>{{ k }}:</b></td>
            <td>{{ v }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>