<body>
    <head>
        <title>tesseract_micr home</title>
        <link rel="STYLESHEET" href="static/main.css" type="text/css">
    </head>
<body>
    <h3>tesseract_micr home</h3>
    <table>
        <tr>
            <td>
                <img src="static/eye.jpg"/>
            </td>
            <td>
                <a href="admin/">/admin</a><br>
                <a href="test/">/test</a><br>
            </td>
        </tr>
    </table>
</body>
</html>
