<html>
<title>Test Flask</title>

<body>

    <h3>hw</h3>
    <form method="post" action="hw">
        <input type="hidden" name="action" value="hw"/>
        <table>
            <tr>
                <td></td>
                <td><input type="submit" value="hw" /></td>
            </tr>
        </table>
    </form><br>

    <h3>ping</h3>
    <form method="post" action="ping">
        <input type="hidden" name="action" value="ping"/>
        <table>
            <tr>
                <td>Text:</td>
                <td><input type="text" name="text1" value="zzz"/></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="ping" /></td>
            </tr>
        </table>
    </form><br>

</body>
</html>