<html>
<title>Test Flask</title>

<body>

    <h3>hw</h3>
    <form method="post" action="hw">
        <input type="hidden" name="action" value="hw"/>
        <table>
            <tr>
                <td></td>
                <td><input type="submit" value="hw" /></td>
            </tr>
        </table>
    </form><br>

    <h3>ping</h3>
    <form method="post" action="ping">
        <input type="hidden" name="action" value="ping"/>
        <table>
            <tr>
                <td>Text:</td>
                <td><input type="text" name="text1" value="zzz"/></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="ping" /></td>
            </tr>
        </table>
    </form><br>

    <h3>tesseract_version</h3>
    <form method="post" action="tesseract_version">
        <input type="hidden" name="action" value="tesseract_version"/>
        <table>
            <tr>
                <td></td>
                <td><input type="submit" value="Execute" /></td>
            </tr>
        </table>
    </form><br>

    <h3>tesseract_plain</h3>
    <form method="post" action="tesseract_plain">
        <input type="hidden" name="action" value="tesseract_plain"/>
        <table>
            <tr>
                <td>Image:</td>
                <td><input name="path" type="text" value="data/check_01.jpg" /></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Execute" /></td>
            </tr>
        </table>
    </form><br>

    <h3>tesseract_micr</h3>
    <form method="post" action="tesseract_micr">
        <input type="hidden" name="action" value="tesseract_micr"/>
        <table>
            <tr>
                <td>Image:</td>
                <td><input name="path" type="text" value="data/check_01.jpg" /></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Execute" /></td>
            </tr>
        </table>
    </form><br>

    <h3>tesseract_micr_hocr</h3>
    <form method="post" action="tesseract_micr_hocr">
        <input type="hidden" name="action" value="tesseract_micr_hocr"/>
        <table>
            <tr>
                <td>Image:</td>
                <td><input name="path" type="text" value="data/check_01.jpg" /></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Execute" /></td>
            </tr>
        </table>
    </form><br>

    <h3>pil_border</h3>
    <form method="post" action="pil_border">
        <input type="hidden" name="action" value="pil_border"/>
        <table>
            <tr>
                <td>Image:</td>
                <td><input name="path" type="text" value="data/check_01.jpg" /></td>
            </tr>
            <tr>
                <td>Width:</td>
                <td><input name="width" type="text" value="20" /></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Execute" /></td>
            </tr>
        </table>
    </form><br>

    <h3>vips_version</h3>
    <form method="post" action="vips_version">
        <input type="hidden" name="action" value="vips_version"/>
        <table>
            <tr>
                <td></td>
                <td><input type="submit" value="Execute" /></td>
            </tr>
        </table>
    </form><br>

    <h3>vips_bw</h3>
    <form method="post" action="vips_bw">
        <input type="hidden" name="action" value="vips_bw"/>
        <table>
            <tr>
                <td>Image:</td>
                <td><input name="path" type="text" value="data/check_01.jpg" /></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Execute" /></td>
            </tr>
        </table>
    </form><br>

    <h3>vips_sharpen</h3>
    <form method="post" action="vips_sharpen">
        <input type="hidden" name="action" value="vips_sharpen"/>
        <table>
            <tr>
                <td>Image:</td>
                <td><input name="path" type="text" value="data/check_01.jpg" /></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Execute" /></td>
            </tr>
        </table>
    </form><br>

    <h3>vips_rotate</h3>
    <form method="post" action="vips_rotate">
        <input type="hidden" name="action" value="vips_rotate"/>
        <table>
            <tr>
                <td>Image:</td>
                <td><input name="path" type="text" value="data/check_01.jpg" /></td>
            </tr>
            <tr>
                <td>Angle(90,180,270):</td>
                <td><input name="angle" type="text" value="90" /></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Execute" /></td>
            </tr>
        </table>
    </form><br>

    <h3>vips_threshold</h3>
    <form method="post" action="vips_threshold">
        <input type="hidden" name="action" value="vips_threshold"/>
        <table>
            <tr>
                <td>Image:</td>
                <td><input name="path" type="text" value="data/check_01.jpg" /></td>
            </tr>
            <tr>
                <td>Threshold(0..255):</td>
                <td><input name="threshold" type="text" value="140" /></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Execute" /></td>
            </tr>
        </table>
    </form><br>

    <h3>vips_chain</h3>
    <form method="post" action="vips_chain">
        <input type="hidden" name="action" value="vips_chain"/>
        <table>
            <tr>
                <td>Image:</td>
                <td><input name="path" type="text" value="data/check_01.jpg" /></td>
            </tr>
            <tr>
                <td>Commands(|separated):</td>
                <td><input name="commands" type="text" value="sharpen|bw|threshold(140)|rotate(90)" /></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Execute" /></td>
            </tr>
        </table>
    </form><br>

    <h3>ocr_check</h3>
    <form method="post" action="ocr_check">
        <input type="hidden" name="action" value="ocr_check"/>
        <table>
            <tr>
                <td>Image:</td>
                <td><input name="path" type="text" value="data/check_01.jpg" /></td>
            </tr>
            <tr>
                <td>Image proc chain:</td>
                <td><input name="chain" type="text" value="sharpen|threshold(140)|bw" /></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Execute" /></td>
            </tr>
        </table>
    </form><br>


</body>
</html>