<body>
    <head>
        <title>tesseract_micr home</title>
    </head>
<body>
    <h3>tesseract_micr home</h3>
    <br>
        <img src="static/flask1.png"/>
    <br>
    <br>
        <a href="admin/">/admin</a><br>
        <a href="test/">/test</a><br>
</body>
</html>
